Repository hegria/2022fall_42class_team12, pull requests merged in 2022-11, with the labels that each got.

#6 글로벌 스타일 설정 및 메인 페이지 레이아웃 작업
  frontend/README.md
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/default-project-thumbnail.png
  frontend/public/images/default-user-image.png
  frontend/public/images/hero.png
  frontend/src/components/common/Navbar.js
  frontend/src/components/common/ProjectCard.js
  frontend/src/components/pages/home/BackgroundCircles.js
  frontend/src/components/pages/home/HomeSectionLayout.js
  frontend/src/components/pages/home/sections/HeroSection.js
  frontend/src/components/pages/home/sections/PopularProjectsSection.js
  frontend/src/components/pages/home/sections/RandomProjectsSection.js
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
  frontend/src/constants/mockups/projects.js
  frontend/src/pages/_app.js
  frontend/src/pages/index.js
  frontend/src/styles/GlobalStyle.js
  frontend/src/styles/theme/components/button.js
  frontend/src/styles/theme/components/container.js
  frontend/src/styles/theme/components/index.js
  frontend/src/styles/theme/components/tag.js
  frontend/src/styles/theme/index.js
Labels: frontend

#12 Frontend recruiments/user 페이지 추가
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/src/components/common/UserCard.js
  frontend/src/constants/mockups/users.js
  frontend/src/pages/recruitments/index.js
  frontend/src/pages/users/index.js
Labels: frontend

#13 fix(backend) 백엔드 테스팅 결과 반영 오류 및 예외 처리 사항 수정
  backend/routes/applications.js
  backend/routes/projects.js
  backend/routes/users.js
  backend/utils/multer.js
Labels: backend

#15 게시글 상세보기 페이지 레이아웃
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
  frontend/src/constants/mockups/project.js
  frontend/src/pages/recruitments/[id].js
  frontend/src/styles/theme/components/button.js
  frontend/src/styles/theme/index.js
Labels: frontend

#16 fix(backend): 예외처리 수정
  backend/routes/applications.js
  backend/routes/projects.js
  backend/routes/users.js
Labels: backend

#17 모집글 작성 페이지 레이아웃
  frontend/src/components/common/EditableTag.js
  frontend/src/components/pages/recruitments/sections/RecruitmentWriteSection.js
  frontend/src/pages/recruitments/write.js
Labels: frontend

#18 유저 상세 페이지 레이아웃 + 기타 자잘한 레이아웃 수정
  frontend/src/components/common/ProjectCard.js
  frontend/src/components/common/UserCard.js
  frontend/src/components/pages/home/sections/HeroSection.js
  frontend/src/components/pages/home/sections/PopularProjectsSection.js
  frontend/src/components/pages/home/sections/RandomProjectsSection.js
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
  frontend/src/components/pages/users/sections/AppliedListSection.js
  frontend/src/components/pages/users/sections/FavoriteListSection.js
  frontend/src/components/pages/users/sections/OngoingListSection.js
  frontend/src/components/pages/users/sections/UserInfoSection.js
  frontend/src/constants/mockups/project.js
  frontend/src/constants/mockups/projects.js
  frontend/src/constants/mockups/user.js
  frontend/src/pages/recruitments/index.js
  frontend/src/pages/users/[id].js
Labels: frontend

#14 feat(frontend): login, register, account 페이지 추가
  frontend/package-lock.json
  frontend/src/components/common/Logo.js
  frontend/src/components/common/Navbar.js
  frontend/src/components/pages/login/sections/LoginSection.js
  frontend/src/components/pages/register/sections/AccountInfoSection.js
  frontend/src/components/pages/register/sections/PersonalInfoSection.js
  frontend/src/pages/account/index.js
  frontend/src/pages/login/index.js
  frontend/src/pages/register/index.js
Labels: frontend

#19 CORS 설정, 포트 번호 변경
  backend/app.js
  backend/package-lock.json
  backend/package.json
Labels: backend

#20 fix(backend): 예외처리 조건 수정 / 로그인, 404에러코드, 레코드가 없을 때
  backend/routes/applications.js
  backend/routes/projects.js
  backend/routes/users.js
Labels: backend

#21 fix(backend) 기존 patch로 multipart/form-data 전송 하는 메소드 post로 변환
  backend/routes/projects.js
  backend/routes/users.js
Labels: backend

#22 fix(backend) 토큰 받아오는 방법 수정(request header의 authorization 사용)
  backend/routes/applications.js
  backend/routes/projects.js
  backend/routes/users.js
Labels: backend

#23 fix(backend): 이미지 업로드 관련 기존 로컬 => AWS S3로 변경
  backend/.env
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/routes/projects.js
  backend/routes/users.js
  backend/utils/multer.js
Labels: backend

#24 fix(backend): multer-s3 version 수정 3.xxxx=>2.xxxxx
  backend/package-lock.json
  backend/package.json
Labels: backend

#25 회원가입, 로그인, 인증 로직 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Navbar.js
  frontend/src/components/common/SkillInput.js
  frontend/src/components/hooks/useMe.js
  frontend/src/components/pages/account/sections/AccountModifySection.js
  frontend/src/components/pages/login/sections/LoginSection.js
  frontend/src/components/pages/register/AccountInfoFormGroup.js
  frontend/src/components/pages/register/PersonalInfoFormGroup.js
  frontend/src/components/pages/register/sections/AccountInfoSection.js
  frontend/src/components/pages/register/sections/PersonalInfoSection.js
  frontend/src/components/pages/register/sections/RegisterFormSection.js
  frontend/src/pages/_app.js
  frontend/src/pages/account/index.js
  frontend/src/pages/register/index.js
  frontend/src/utils/auth.js
  frontend/src/utils/axios.js
  frontend/src/utils/cookie.js
Labels: frontend

#26 feat(backend): 회원탈퇴, 프로젝트 제거, 프로젝트 수정, 회원 정보 수정 S3 이미지 삭제 구현
  backend/routes/projects.js
  backend/routes/users.js
  backend/utils/multer.js
Labels: backend

#27 fix(backend): formdata 처리로 인한 api 인풋 포맷 변경에 따른 수정
  backend/models/project.js
  backend/models/user.js
  backend/routes/projects.js
Labels: backend

#28 fix(backend): DB project, user 각각 message 최대 길이 5000 바이트로 수정
  backend/models/project.js
  backend/models/user.js
Labels: backend

#29 메인 페이지 게시글 리스트 api 연동
  frontend/src/components/common/Navbar.js
  frontend/src/components/common/ProjectCard.js
  frontend/src/components/hooks/useRecruitments.js
  frontend/src/components/pages/home/sections/PopularProjectsSection.js
  frontend/src/components/pages/home/sections/RandomProjectsSection.js
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
Labels: frontend

#30 모집글 전체보기 페이지(/recruitments) API 연동
  frontend/src/components/hooks/useRecruitments.js
  frontend/src/components/pages/home/sections/PopularProjectsSection.js
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
  frontend/src/constants/list.js
  frontend/src/pages/recruitments/index.js
Labels: frontend

#31 fix(backend): s3 이미지 삭제 함수 parameter 수정
  backend/routes/projects.js
  backend/routes/users.js
Labels: backend

#32 게시글 상세 페이지 (/recruitments/:id) api 연동 (1/2)
  frontend/src/components/hooks/useRecruitment.js
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
  frontend/src/components/pages/login/sections/LoginSection.js
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
Labels: frontend

#33 백엔드 오류 수정 및 게시글 등록 시 id 반환 기능 추가 / 프론트엔드 게시글 작성 및 수정 기능 구현
  backend/models/project.js
  backend/models/user.js
  backend/routes/projects.js
  frontend/next.config.js
  frontend/src/components/common/SkillInput.js
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
  frontend/src/components/pages/recruitments/sections/RecruitmentWriteSection.js
  frontend/src/components/pages/register/PersonalInfoFormGroup.js
Labels: frontend, backend

#34 User image field length가 너무 길었던 현상 수정
  backend/models/user.js
Labels: backend

#35 즐겨찾기 및 신청하기, 신청자 관리 기능 구현
  backend/routes/projects.js
  frontend/src/components/hooks/useApplication.js
  frontend/src/components/pages/recruitments/ApplicantList.js
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
Labels: frontend, backend

#36 fix(backend): updatedAt 기능 에러 관련 수정
  backend/models/project.js
  backend/routes/projects.js
Labels: backend

#37 fix(backend): get project detail 관련해서 리턴값 userApplication status도 추가
  backend/routes/projects.js
Labels: backend

#38 fix(backend): 참여 신청자 리스트 빈 경우 빈 배열로 반환
  backend/routes/applications.js
Labels: backend

#40 fix(backend) 프로젝트 기본 정렬 순서 수정(최신 등록순 -> 최신 수정순)
  backend/routes/projects.js
Labels: backend

#41 프론트 QA 1
  frontend/public/fonts/BinggraeSamanco-Bold.woff
  frontend/src/components/common/Navbar.js
  frontend/src/components/common/ProjectCard.js
  frontend/src/components/common/UserCard.js
  frontend/src/components/pages/account/sections/AccountModifySection.js
  frontend/src/components/pages/home/sections/PopularProjectsSection.js
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
  frontend/src/components/pages/recruitments/ApplicantList.js
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
  frontend/src/components/pages/recruitments/sections/RecruitmentWriteSection.js
  frontend/src/components/pages/register/AccountInfoFormGroup.js
  frontend/src/components/pages/register/PersonalInfoFormGroup.js
  frontend/src/components/pages/register/sections/RegisterFormSection.js
  frontend/src/components/pages/users/sections/AppliedListSection.js
  frontend/src/components/pages/users/sections/AuthorListSection.js
  frontend/src/components/pages/users/sections/FavoriteListSection.js
  frontend/src/components/pages/users/sections/UserInfoSection.js
  frontend/src/hooks/useApplication.js
  frontend/src/hooks/useAuthPage.js
  frontend/src/hooks/useMe.js
  frontend/src/hooks/useRecruitment.js
  frontend/src/hooks/useRecruitments.js
  frontend/src/hooks/useUser.js
  frontend/src/hooks/useUsers.js
  frontend/src/pages/account/index.js
  frontend/src/pages/recruitments/index.js
  frontend/src/pages/recruitments/write.js
  frontend/src/pages/users/[id].js
  frontend/src/pages/users/index.js
  frontend/src/styles/GlobalStyle.js
Labels: frontend

#42 fix(backend): skills 보낼 때 없을 경우 빈 배열로 반환하는 걸로 수정
  backend/models/project.js
  backend/routes/projects.js
  backend/routes/users.js
Labels: backend

#43 README.md 업데이트
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation

#44 현재 신청 상태 보여주는 기능 추가
  frontend/src/components/pages/recruitments/ApplicantList.js
  frontend/src/components/pages/recruitments/sections/RecruitmentDetailSection.js
Labels: frontend

#45 fix(backend): 신청자 리스트 불러오기 에러 수정
  backend/routes/applications.js
Labels: backend

#46 fix(backend): get application list 오류 수정
  backend/routes/applications.js
Labels: backend

#47 페이지 타이틀 적용
  frontend/src/pages/_app.js
Labels: frontend

#48 게시글 삭제 후 mutate가 되지 않아 메인 페이지에서 적용 안되던 버그 수정
  frontend/src/components/pages/home/sections/RecentProjectsSection.js
  frontend/src/hooks/useRecruitments.js
Labels: bug, frontend

#49 더 불러오기 버튼의 렌더링 조건이 잘못된 것을 수정
  frontend/src/hooks/useRecruitments.js
  frontend/src/hooks/useUsers.js
Labels: bug, frontend
